parameters:
- name: AzureDevOps_EnvironmentName
  type: string
- name: AzureSubscription
  type: string
- name: Product_def
  type: string
- name: Environment
  type: string
- name: FolderPath
  type: string

stages:
 - stage: Deploy_Product
   displayName: 'Deploying Product'
   dependsOn:
   pool:
    vmImage: 'windows-latest'
   jobs:
    - deployment: deployproduct
      displayName: 'Deploy Product To ${{ parameters.Environment}}'
      environment: ${{ parameters.AzureDevOps_EnvironmentName}}
      strategy:
        runOnce:
         deploy:
          steps:
           - checkout: self
           - checkout: AzureAPIM
           - task: AzurePowerShell@5
             inputs:
               azureSubscription: '${{ parameters.AzureSubscription}}'
               ScriptType: 'FilePath'
               ScriptPath: '$(System.DefaultWorkingDirectory)/AzureAPIM/CreateProduct.ps1'
               ScriptArguments: '-FileName "${{ parameters.Product_def}}" -Environment "${{ parameters.Environment}}" -FolderPath "${{ parameters.FolderPath}}"'
               azurePowerShellVersion: 'LatestVersion'
    - deployment: AddApiToProduct
      environment: ${{ parameters.AzureDevOps_EnvironmentName }}
      dependsOn: DeployProduct
      strategy:
        runOnce:
          deploy: 
            steps:
            - checkout: self
            - checkout: AzureAPIM
            - task: AzurePowerShell@5
              inputs:
                azureSubscription: ${{ parameters.AzureSubscription }}
                ScriptType: 'FilePath'
                ScriptPath: '$(System.DefaultWorkingDirectory)/AzureAPIM/AddApiToProduct.ps1'
                ScriptArguments: '-FileName "${{ parameters.Product_def }}" -Environment "${{ parameters.Environment }}" -FolderPath "${{ parameters.FolderPath }}"'
                azurePowerShellVersion: 'LatestVersion'
    - deployment: DeployAddGroupToProduct 
      displayName: 'Add Group to Product'
      environment: ${{ parameters.AzureDevOps_EnvironmentName}}
      dependsOn: DeployProduct
      strategy:
        runOnce:
         deploy:            
          steps:
           - checkout: self
           - checkout: AzureAPIM
           - task: AzurePowerShell@5
             inputs:
               azureSubscription: '${{ parameters.AzureSubscription}}'
               ScriptType: 'FilePath'
               ScriptPath: '$(System.DefaultWorkingDirectory)/AzureAPIM/AddGroupToProduct.ps1'
               ScriptArguments: '-FileName "${{ parameters.Product_def}}" -Environment "${{ parameters.Environment}}" -FolderPath "${{ parameters.FolderPath}}"'
               azurePowerShellVersion: 'LatestVersion'   